#container{
    display: grid;
    max-width: 160px;
    max-height: 160px;
    aspect-ratio: 1/1;
    border: 1px solid #000;
}
.grid-item{
    border: 1px solid #000;
}
.grid-item:hover{
    background-color: gray;
}