#container{
    display: grid;
    max-width: 640px;
    max-height: 640px;
    aspect-ratio: 1/1;
    border: 1px solid #000;
    margin: 0 auto;
}
.slidecontainer{
    display: flex;
    flex-direction: column;
    max-width:fit-content;
    transform: rotate(270deg);
    position: absolute;
    top: 40%;
}
#gridSize{
    transform: rotate(-270deg);
}
.grid-item{
    border: 1px solid #000;
}
.grid-item:hover{
    background-color: gray;
}
#table{
    display: flex;
    justify-content: center;
    gap: 8px;
    margin: 8px;
}